body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: lightgrey;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    height: 100px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar > h1 {
    margin: 0;
    text-align: center;
    padding-top: 1rem;
}

.library {
    padding: 2rem;
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 2rem;
}

div[class^="book-"] {
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
