:root {
    --dark: #06283D;
    --blue: #1363DF;
    --lightblue: #47B5FF;
    --light: #DFF6FF;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--dark);
    font-family: 'Roboto', sans-serif;
    color: var(--light);
}

.navbar {
    background-color: var(--blue);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2rem;
    text-align: center;
}

.navbar > h1 {
    font-size: 3rem;
    margin: 0;
}


.library {
    padding: 2rem;
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 2rem;
}

div[class^="book-"] {
    padding: 25px;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--blue);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
