:root {
    --grey: #536162;
    --dark: black;
    --light: white;
    --shadow: var(--dark) 0px 7px 29px 0px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--grey);
    font-family: 'Roboto', sans-serif;
    color: var(--dark);
}

.navbar {
    background-color: var(--light);
    box-shadow: var(--shadow);
    padding: 2rem;
    text-align: center;
}

.navbar > h1 {
    font-size: 3rem;
    margin: 0;
}

.library {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

div[class^="book-"] {
    padding: 25px;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--light);
    box-shadow: var(--shadow);
}

@media (min-width: 600px) {
    .library { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
    .library { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1200px) {
    .library { grid-template-columns: repeat(4, 1fr); }
}